.ContainerNodes {
    position: fixed;
    top: 20%;
    left: 81%;
    width: 18%;
    height: calc(110vh - 300px);
    z-index:99;
    padding:3px; 
}
.ContentNodes {
    height:100%;
    overflow:auto;
    background:#fff;
    display: block;
    opacity: 0.85;
}

.ContentNeighbour {
    height:100%;
    overflow:auto;
    background:#fff;
    display: none;
    opacity: 0.85;
}
.Searchbar {
    width: 100%;
    opacity: 0.85;
}

.btn-group {
    width: 100%;
}
html, body { height: auto; }

.scene-nav-info {
    font-size: 16px;
    top: 620px;
}

.select-info {
    z-index:99;
    /* top: 10px; */
}