.Container
{
    position: fixed;
    top: 8%;
    left: 81%;
    width: 18%;
    height: 100%;
    z-index:99;
    /* margin-top: -340px; */
    padding:3px; 
}
.Content
{
    /* margin-top: -340px; */
    height:calc(110vh - 300px);
    overflow:auto;
    background:#fff;
}
.Searchbar
{
    width: 100%;
}
html, body { height: auto; }